h1{
    margin: 0;
    padding: 0;
}
#one{
    width: 100px;
    background-color: aqua;
}
#top{
    position: relative;
    left: 20%;
    bottom: 10%;
    background-color: coral;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    width: 40%;
   /*margin-left: 29%;*/
    /*padding-left: 10%;*/
    
}
#bottom{
    background-color: coral;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    width: 40%;
    margin-top: 29%;
    margin-left: 29%;
    
}
h3{
    font-family: 'Reggae One', cursive;
}